@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-pretendard: Pretendard;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #8e8e8e;
  --color-black: #000;

  /* border radiuses */
  --br-31xl: 50px;
  --br-5xs: 8px;
}
